# Project exclude paths
/edlal/
/ethrai_courses/
/informa-mea/
/meric/
/meric_categories/
/mnar/
/theknowledgeacademy/
/meirc.txt
/meric.csv
/meric.xlsx
/meric.zip
/mnar.csv
/edraak.xlsx
/edraak.zip
/error.html
/ethrai.csv
/ethrai.json
/mnar.xlsx
/mnar.zip
/theknowledgeacademy.csv
/theknowledgeacademy.json
/theknowledgeacademy.zip
/theknowledgeacademy.xlsx
/informa-mea.xlsx
/informa-mea.json
/informa-mea.csv
/ethrai.xlsx
/edraak.csv
/edlal.zip
/edlal.xlsx
/doroob.csv
/doroob.xlsx
/doroob.zip
/edlal.csv
/error.txt
/udemy.json
/coursera/
/doroob/
/edlal/
/ethrai_courses/
/informa-mea/
/meric/
/meric_categories/
/mnar/
/theknowledgeacademy/
/coursera.csv
/coursera.xlsx
/coursera.zip
/SkillShare.zip
/SkillShare.xlsx
/SkillShare.csv
/udemy.csv
/udemy.xlsx
/udemy.zip
/udemy_errors.txt
/CreativeLive.xlsx
/CreativeLive.csv
/linkedin-cookie.txt
